@media only screen and (max-width: 600px) {
    #phone{
        display: flex;
        flex-direction: column;
    }
    #photos{
        margin-left: -13%;
    }
    #stack{
        width: auto !important;
    }
    #photo-phone{
        width: 95% !important;
    }
    #visuale{
        margin-top: 0%;
    }
    
  }
    #concept{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .top{
        margin-top: 10%;
    }
    #visuale{
        text-align: left;
        margin-top: 20%;
    }
    #menu{
        border: none;
    }
    #menu:hover{
        border: none;
    }